.GaugeMeter
{
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

div.GaugeMeter{
}
.GaugeMeter span,
.GaugeMeter b{
    margin:	0 23%;
    width: 54%;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: rgba(0,0,0,.8);
    font-weight: 100;
    font-family: "Open Sans", Arial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.GaugeMeter[data-style="Semi"] b{
    margin: 0 10%;
    width: 80%;
}

.GaugeMeter s,
.GaugeMeter u{
    text-decoration:none;
    font-size: .60em;
    font-weight: 200;
    opacity: .6;
}

.GaugeMeter b{
    color: black;
    font-weight: 200;
    font-size: 14px;
    opacity: .8;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}