/*
Template Name: Ubold Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Responsive
*/
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .email-msg {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .mobile-view {
    display: none !important;
  }
}
@media (max-width: 1005px) {
  .button-menu-mobile {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }
  .top-menu-item-xs {
    display: inline-flex !important;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .enlarged .left.side-menu {
    /* margin-left: -75px;*/
  }
  .button-menu-mobile {
    display: none;
  }
  .content-page {
    /* margin-left: 0px !important; */
  }
  .footer {
    left: 0px !important;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .wizard > .steps > ul > li {
    width: 100%;
  }
  .wizard > .content {
    padding: 0px !important;
  }
  .wizard > .content > .body {
    float: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .wizard.vertical > .steps {
    display: inline;
    float: none;
    width: 100%;
  }
  .wizard.vertical > .content {
    display: inline;
    float: none;
    margin: 0%;
    width: 100%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  .todo-send {
    margin-top: 10px;
    padding-left: 15px;
  }
  .chat-inputbar {
    padding-left: 15px;
  }
  .chat-send {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
  .product-search {
    margin-bottom: 30px;
  }
  .top-menu-item-xs {
    display: inline-flex !important;
  }
  .dropdown-menu-lg {
    width: 240px !important;
  }
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .search-bar {
    display: none !important;
  }
  .ms-container {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
  .mobile-view {
    display: none !important;
  }
  .menuTopBar {
    display: none !important;
  }
  .col-responsive {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: inherit !important;
  }
}
@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
  .mobile-view {
    display: none !important;
  }
  .menuTopBar {
    display: none !important;
  }
  .col-responsive {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: inherit !important;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
  .mobile-view {
    display: none !important;
  }
  .menuTopBar {

    display: none !important;
  }
  .col-responsive {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: inherit !important;
  }
}
@media (max-width: 419px) {
  .topbar-left {
    width: 70px !important;
  }
  .logo .icon-c-logo {
    display: inline-block !important;
    line-height: 58px !important;
  }
  .logo span {
    display: none !important;
  }
  .content-page {
    margin-left: 70px;
  }
  .forced .side-menu.left {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  }
  .enlarged .side-menu.left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
  .conversation-list .conversation-text,
  .conversation-list .odd .conversation-text {
    width: 100% !important;
  }
}
@media only screen and (max-width: 999px) {
  .ui.table:not(.unstackable) {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 999px) {
  .ui.table:not(.unstackable) {
    width: 100% !important;
  }
}

@media only screen and (max-width: 999px) {
  .ui.table:not(.unstackable) thead {
    display: block;
  }
}

@media only screen and (max-width: 999px) {
  .ui.table:not(.unstackable) tr {
    padding-top: 1em;
    padding-bottom: 1em;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .1) inset !important;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .1) inset !important;
  }
}

@media only screen and (max-width: 999px) {
  .ui.table:not(.unstackable) tbody, .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr > td, .ui.table:not(.unstackable) tr > th {
    width: auto !important;
    display: block !important;
  }
}

@media only screen and (max-width: 999px) {
  .ui.table:not(.unstackable) tr>td, .ui.table:not(.unstackable) tr>th {
    background: 0 0;
    border: none!important;
    padding: .25em .75em!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
}

@media only screen and (max-width: 999px) {
  .ui.table:not(.unstackable) tbody, .ui.table:not(.unstackable) tr, .ui.table:not(.unstackable) tr>td, .ui.table:not(.unstackable) tr>th {
    width: auto!important;
    display: block!important;
  }
}
